body {
    background: #d2d2d2c1 url('imagens/fundo.png');
}


#principal {
	width: 900px;
}

#menu {
    background: #c5c5b2;
    padding: 18px;
}

#conteudo {
    background: #e8e8e8;
    padding: 10px;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.centralizar {
    text-align: center;
}

/*#rodape {
    
}*/